In [94]:
import numpy as np
import pandas as pd
import os

In [95]:
models = ['LSTM', 'RNN']
date_list = [['2001-01-01', '2020-01-01', '2022-01-02', '2024-01-05'], ['1990-01-05', '2010-01-05', '2023-01-05', '2024-01-05'], ['2000-01-05', "2024-01-05", "2024-01-05", "2025-01-05"], ['2005-01-05', '2010-01-05', '2020-01-05', '2024-01-05']]

In [96]:
df = pd.DataFrame({"ETF":[],"Metric":[],"Final_Value":[],"Passive_Potential":[],"Relative_MSE":[],"MAPE":[],"DM_stat":[],"DM_p":[], "model_type":[], "date_config":[]})

In [97]:
for i in range(4):
    for m in models:
        d = pd.read_csv(f"../output/runtest_10027[final]/date_config{i}/{m}/overall_results.csv")
        d['model_type'] = m
        d['date_config'] = f'train: start {date_list[i][0]}, end {date_list[i][1]}; test: start {date_list[i][2]}, end {date_list[i][3]}'
        df = pd.concat([df, d], axis=0, ignore_index=True)

In [98]:
df

,ETF,Metric,Final_Value,Passive_Potential,Relative_MSE,MAPE,DM_stat,DM_p,model_type,date_config
0,XLB,ATR,1000.000000,1030.095425,0.003427,0.356005,NaN,NaN,LSTM,"train: start 2001-01-01, end 2020-01-01; test:..."
1,XLB,SD_Squared_Returns,1081.621177,1030.095425,0.002011,0.300276,59.845737,0.000000e+00,LSTM,"train: start 2001-01-01, end 2020-01-01; test:..."
2,XLB,SD_Prices,1051.835579,1030.095425,0.001454,0.313790,11.584096,4.961736e-31,LSTM,"train: start 2001-01-01, end 2020-01-01; test:..."
3,XLE,ATR,835.254085,1257.954208,0.000133,0.051967,NaN,NaN,LSTM,"train: start 2001-01-01, end 2020-01-01; test:..."
4,XLE,SD_Squared_Returns,840.061493,1257.954208,0.000361,0.127410,23.677640,6.129623e-124,LSTM,"train: start 2001-01-01, end 2020-01-01; test:..."
...,...,...,...,...,...,...,...,...,...,...
211,XLY,SD_Squared_Returns,1000.000000,1527.925532,0.002535,0.954616,60.647165,0.000000e+00,RNN,"train: start 2005-01-05, end 2010-01-05; test:..."
212,XLY,SD_Prices,1000.000000,1527.925532,0.003130,0.866822,3.123971,1.784282e-03,RNN,"train: start 2005-01-05, end 2010-01-05; test:..."
213,XLU,ATR,1033.405108,1022.748966,0.000841,0.364591,NaN,NaN,RNN,"train: start 2005-01-05, end 2010-01-05; test:..."
214,XLU,SD_Squared_Returns,1066.251352,1022.748966,0.000518,0.448898,48.278011,0.000000e+00,RNN,"train: start 2005-01-05, end 2010-01-05; test:..."
215,XLU,SD_Prices,997.873175,1022.748966,0.000698,0.446083,8.469114,2.472658e-17,RNN,"train: start 2005-01-05, end 2010-01-05; test:..."

In [99]:
import pandas as pd

# 1. Drop the unwanted columns
df_clean = df.drop(columns=["DM_stat", "DM_p"])

# 2. Define the columns to include and aggregate (mean if duplicates)
cols = ["Final_Value", "Passive_Potential", "Relative_MSE", "MAPE"]
group_keys = ["Metric", "model_type", "date_config", "ETF"]

# 3. Aggregate
agg = (
    df_clean
    .groupby(group_keys, as_index=False)[cols]
    .mean()
)

# 4. Format the display string in one box per ETF combination
def make_box(r):
    return (
        f"FV: {r['Final_Value']:.3f}; PP: {r['Passive_Potential']:.3f}; RelMSE: {r['Relative_MSE']:.3f}; MAPE: {r['MAPE']:.3f}"
    )

agg["display"] = agg.apply(make_box, axis=1)

# 5. Pivot to wide format: index = Metric, model_type, date_config; columns = ETF; values = display box
wide_display = (
    agg
    .pivot_table(
        index=["Metric", "model_type", "date_config"],
        columns="ETF",
        values="display",
        aggfunc="first"  # already aggregated
    )
)

# 6. (Optional) Make it presentation-friendly by flattening the column index if needed
wide_display = wide_display.rename_axis(columns=None)  # remove name 'ETF' from columns

# 7. Export or inspect
wide_display.to_csv("final_wide_display_table.csv")  # for slides
print(wide_display.head(8).to_string())

                                                                                                                                                      XLB                                                     XLE                                                     XLF                                                     XLI                                                     XLK                                                     XLP                                                     XLU                                                     XLV                                                     XLY
Metric model_type date_config
ATR    LSTM       train: start 1990-01-05, end 2010-01-05; test: start 2023-01-05, end 2024-01-05  FV: 1035.057; PP: 1026.704; RelMSE: 0.006; MAPE: 0.199   FV: 965.421; PP: 1010.148; RelMSE: 0.001; MAPE: 0.074  FV: 1109.428; PP: 1057.087; RelMSE: 0.001; MAPE: 0.121  FV: 1000.000; PP: 1103.291; RelMSE: 0.023; MAPE: 0.443  FV: 1017.032; PP: 1348.440; RelMSE: 0.016; MAPE: 0.279  FV: 1000.000; PP: 1005.013; RelMSE: 0.022; MAPE: 0.337   FV: 1093.755; PP: 994.278; RelMSE: 0.004; MAPE: 0.187  FV: 1000.000; PP: 1100.190; RelMSE: 0.067; MAPE: 0.650  FV: 1000.000; PP: 1188.457; RelMSE: 0.118; MAPE: 0.799
                  train: start 2000-01-05, end 2024-01-05; test: start 2024-01-05, end 2025-01-05    FV: 976.299; PP: 951.504; RelMSE: 0.001; MAPE: 0.083  FV: 1019.901; PP: 1018.277; RelMSE: 0.001; MAPE: 0.054  FV: 1068.489; PP: 1200.939; RelMSE: 0.001; MAPE: 0.079  FV: 1011.677; PP: 1096.860; RelMSE: 0.002; MAPE: 0.115  FV: 1000.000; PP: 1145.585; RelMSE: 0.018; MAPE: 0.643   FV: 996.717; PP: 1047.193; RelMSE: 0.002; MAPE: 0.107   FV: 997.303; PP: 1236.842; RelMSE: 0.004; MAPE: 0.143    FV: 995.127; PP: 951.781; RelMSE: 0.002; MAPE: 0.113   FV: 995.107; PP: 1228.811; RelMSE: 0.003; MAPE: 0.209
                  train: start 2001-01-01, end 2020-01-01; test: start 2022-01-02, end 2024-01-05  FV: 1000.000; PP: 1030.095; RelMSE: 0.003; MAPE: 0.356   FV: 835.254; PP: 1257.954; RelMSE: 0.000; MAPE: 0.052   FV: 1074.757; PP: 985.838; RelMSE: 0.000; MAPE: 0.078  FV: 1000.000; PP: 1146.832; RelMSE: 0.006; MAPE: 0.394  FV: 1000.000; PP: 1207.593; RelMSE: 0.015; MAPE: 0.690   FV: 1037.505; PP: 975.666; RelMSE: 0.001; MAPE: 0.214   FV: 1058.871; PP: 972.176; RelMSE: 0.002; MAPE: 0.205  FV: 1021.105; PP: 1090.966; RelMSE: 0.002; MAPE: 0.242   FV: 1032.862; PP: 994.576; RelMSE: 0.003; MAPE: 0.305
                  train: start 2005-01-05, end 2010-01-05; test: start 2020-01-05, end 2024-01-05  FV: 1012.055; PP: 1631.467; RelMSE: 0.002; MAPE: 0.388  FV: 1148.951; PP: 1928.213; RelMSE: 0.000; MAPE: 0.096  FV: 1179.223; PP: 1423.864; RelMSE: 0.000; MAPE: 0.089  FV: 1000.000; PP: 1542.192; RelMSE: 0.002; MAPE: 0.491  FV: 1000.000; PP: 2187.032; RelMSE: 0.006; MAPE: 0.817  FV: 1000.000; PP: 1248.400; RelMSE: 0.001; MAPE: 0.422  FV: 1070.450; PP: 1022.749; RelMSE: 0.001; MAPE: 0.220  FV: 1000.000; PP: 1524.247; RelMSE: 0.005; MAPE: 0.847  FV: 1000.000; PP: 1527.926; RelMSE: 0.005; MAPE: 0.737
       RNN        train: start 1990-01-05, end 2010-01-05; test: start 2023-01-05, end 2024-01-05  FV: 1035.120; PP: 1026.704; RelMSE: 0.004; MAPE: 0.182   FV: 966.187; PP: 1010.148; RelMSE: 0.000; MAPE: 0.051  FV: 1032.245; PP: 1057.087; RelMSE: 0.000; MAPE: 0.048  FV: 1000.000; PP: 1103.291; RelMSE: 0.020; MAPE: 0.425  FV: 1000.000; PP: 1348.440; RelMSE: 0.028; MAPE: 0.379  FV: 1000.000; PP: 1005.013; RelMSE: 0.022; MAPE: 0.350   FV: 1056.103; PP: 994.278; RelMSE: 0.002; MAPE: 0.108  FV: 1000.000; PP: 1100.190; RelMSE: 0.050; MAPE: 0.565  FV: 1000.000; PP: 1188.457; RelMSE: 0.089; MAPE: 0.694
                  train: start 2000-01-05, end 2024-01-05; test: start 2024-01-05, end 2025-01-05   FV: 1000.000; PP: 951.504; RelMSE: 0.003; MAPE: 0.150  FV: 1038.649; PP: 1018.277; RelMSE: 0.001; MAPE: 0.050  FV: 1062.686; PP: 1200.939; RelMSE: 0.001; MAPE: 0.077   FV: 980.631; PP: 1096.860; RelMSE: 0.002; MAPE: 0.145  FV: 1000.000; PP: 1145.585; RelMSE: 0.015; MAPE: 0.588  FV: 1002.214; PP: 1047.193; RelMSE: 0.002; MAPE: 0.113   FV: 967.636; PP: 1236.842; RelMSE: 0.002; MAPE: 0.079    FV: 987.483; PP: 951.781; RelMSE: 0.001; MAPE: 0.068  FV: 1022.690; PP: 1228.811; RelMSE: 0.003; MAPE: 0.171
                  train: start 2001-01-01, end 2020-01-01; test: start 2022-01-02, end 2024-01-05  FV: 1035.120; PP: 1030.095; RelMSE: 0.002; MAPE: 0.235   FV: 722.870; PP: 1257.954; RelMSE: 0.000; MAPE: 0.044   FV: 1057.041; PP: 985.838; RelMSE: 0.000; MAPE: 0.055  FV: 1000.000; PP: 1146.832; RelMSE: 0.005; MAPE: 0.392  FV: 1000.000; PP: 1207.593; RelMSE: 0.014; MAPE: 0.648   FV: 1038.028; PP: 975.666; RelMSE: 0.001; MAPE: 0.227   FV: 1028.384; PP: 972.176; RelMSE: 0.001; MAPE: 0.144   FV: 956.863; PP: 1090.966; RelMSE: 0.000; MAPE: 0.070    FV: 960.632; PP: 994.576; RelMSE: 0.003; MAPE: 0.314
                  train: start 2005-01-05, end 2010-01-05; test: start 2020-01-05, end 2024-01-05   FV: 967.331; PP: 1631.467; RelMSE: 0.002; MAPE: 0.408   FV: 805.286; PP: 1928.213; RelMSE: 0.000; MAPE: 0.058  FV: 1125.686; PP: 1423.864; RelMSE: 0.000; MAPE: 0.060  FV: 1000.000; PP: 1542.192; RelMSE: 0.003; MAPE: 0.597  FV: 1000.000; PP: 2187.032; RelMSE: 0.006; MAPE: 0.816  FV: 1000.000; PP: 1248.400; RelMSE: 0.002; MAPE: 0.618  FV: 1033.405; PP: 1022.749; RelMSE: 0.001; MAPE: 0.365  FV: 1000.000; PP: 1524.247; RelMSE: 0.004; MAPE: 0.738  FV: 1000.000; PP: 1527.926; RelMSE: 0.004; MAPE: 0.653

In [100]:
df_n

model_type      LSTM       RNN
ETF
XLB         1138.416  1023.681
XLE         1113.255  1070.502
XLF         1167.644  1100.818
XLI         1059.143  1022.434
XLK         1110.520  1027.164
XLP         1091.426  1061.929
XLU         1074.359  1054.539
XLV         1036.190  1012.566
XLY         1196.586  1079.946